<p-toast position="top-right" (onClose)="handleToastClose($event)"></p-toast>

<!-- Button to toggle the sidebar -->
<p-button label="{{'BUTTON_SHOW_NOTIFICATIONS'|translate}}" class="custom-font" (click)="toggleSidebar()"></p-button>

<!-- Sidebar -->
<p-sidebar [(visible)]="displaySidebar" position="right" styleClass="notification-sidebar">

  <!-- Using p-toolbar to replace h3 -->
  <p-toolbar>
    <div>{{'SIDEBAR.TITLE' | translate}}</div>
  </p-toolbar>

  <div *ngFor="let notification of inbox">
    <!-- Card for each notification -->
    <p-card [styleClass]="notification.isRead ? 'normal-text' : 'bold-text'">
      <p-header class="card-header-alt">
        {{ notification.type + '.TITLE' | translate}}
      </p-header>
      <p>{{ notification.type + '.DETAILS'|translate:{details: notification.parameters.join(', ')} }}</p>
      <!-- Button to mark the notification as read -->
      <p-button *ngIf="!notification.isRead" label="{{'SIDEBAR.MARK_AS_READ' | translate}}"
                (click)="markAsRead(notification)"></p-button>
    </p-card>
  </div>
</p-sidebar>
