.s {
  justify-content: center;
  justify-items: center;
  background: linear-gradient(to bottom, #a8d7f6, white);
  font-family: 'Times New Roman', serif;
  color: white;
  text-shadow: 2px 2px 4px grey; /* Adds a grey shadow to the text */
  text-align: center;
  display: flex;
  border-bottom: none;
}

.icon-image {
  width: 32.5vw;
  max-width: 100%;
}
