<div class="card flex justify-content-center">
  <button pButton label="{{'USER.CAMPAIGNS' | translate}}" class="p-button-success p-mr-2" (click)="showCampaigns()"></button>
  <p-dialog [(visible)]="showDialog" [draggable]="false" [style]="{width: '450px'}" header="{{'USER.CAMPAIGNS' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div>
        <tr>
          <th>
            {{"CAMPAIGN.NAME" | translate}}
          </th>
        </tr>
        <tr *ngFor="let campaign of campaigns">
          <td>{{campaign.name}}</td>
        </tr>
      </div>
    </ng-template>
  </p-dialog>
</div>
