p {
  font-family: Lato;
}

.button{
  padding: 5px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value to control vertical centering */
}
.login-panel {
  max-width: 400px; /* Adjust this value as needed */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

}
