p {
  font-family: Lato;
}

.button{
  padding: 5px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-panel {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

}
