<div class="card flex justify-content-center">
  <button pButton pRipple label="{{'USER.NEW' | translate}}" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
  <p-dialog  [(visible)]="showDialog" [draggable]="false" [style]="{width: '450px'}" header="{{'USER.USER' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <form [formGroup]="registerForm">
        <div class="p-field">
          <label for="firstName">{{"USER.FIRST_NAME" | translate}}*</label>
          <input pInputText id="firstName" formControlName="firstName" required autofocus />
          <small *ngIf="(submitted) && !user.firstName">{{"USER.FIRST_NAME_REQUIRED" | translate}}</small>
        </div>
        <div class="p-field">
          <label for="lastName">{{"USER.LAST_NAME" | translate}}*</label>
          <input type="text" pInputText id="lastName" formControlName="lastName"  required autofocus />
          <small class="p-invalid" *ngIf="(submitted) && !user.lastName">{{"USER.LAST_NAME_REQUIRED" | translate}}</small>
        </div>
        <div class="p-field">
          <label for="email">{{"USER.EMAIL" | translate}}*</label>
          <input type="text" pInputText id="email" formControlName="email"  required autofocus />
          <small class="p-invalid" *ngIf="(submitted) && !user.email">{{"USER.EMAIL_REQUIRED" | translate}}</small>
        </div>
        <div class="card">
          <label for="mobileNumber">{{"USER.MOBILE_NUMBER" | translate}}*</label>
          <input type="text" pInputText id="mobileNumber" formControlName="mobileNumber" autofocus />
          <small class="p-invalid" *ngIf="(submitted) && !user.mobileNumber">{{errorMessage}}</small>
        </div>
        <div class="card flex justify-content-center">
          <h5>{{"USER.ROLES" | translate}}*</h5>
          <p-multiSelect id="roles" formControlName="roles" [options]="allRoles" appendTo="body" placeholder="{{'USER.SELECT_A_ROLE' | translate}}"
                         [filter]="true" optionLabel="name"></p-multiSelect>
        </div>
        <div class="card flex justify-content-center">
          <h5>{{"USER.CAMPAIGNS" | translate}}</h5>
          <p-multiSelect id="campaigns" formControlName="campaigns" [options]="allCampaigns" appendTo="body" placeholder="{{'USER.SELECT_A_CAMPAIGN' | translate}}"
                         [filter]="true" optionLabel="name"></p-multiSelect>
        </div>

      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="createUser()"></button>
    </ng-template>
  </p-dialog>
</div>
