<div class="card flex justify-content-center">
  <button pButton label="{{'USER.ROLES' | translate}}" class="p-button-success p-mr-2" (click)="showRoles()"></button>
  <p-dialog [(visible)]="showDialog" [draggable]="false" [style]="{width: '450px'}" header="{{'USER.ROLES' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div>
        <ul *ngFor="let role of roles">
          <li>{{role.name}}</li>
        </ul>
      </div>
    </ng-template>
  </p-dialog>
</div>
